<li class="list-group-item px-0" t:render="version" xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
	<h6>
		<t:slot name="version"/>
		<t:slot name="badge"/>
		<span class="text-muted ms-2">
			<t:attr name="title"><t:slot name="created_date"/></t:attr>
			<t:slot name="created_date_delta"/>
		</span>
	</h6>
	<t:slot name="common_dependencies"/>
	<p class="my-1 small">
		Targets: <t:slot name="targets"/>.
	</p>
</li>
